<h1>Добавяне на песни</h1>

<form action="/addMusic" method="post">
    <label for="title">Заглавие на песен</label>
    <input type="text" name="title">
    <label for="singer">Име на изпълнител</label>
    <input type="text" name="singer">
    <label for="ganre">Жанр</label>
    <input type="text" name="ganre">
    <label for="URL">Линк към видеото</label>
    <input type="text" name="URL">
    <input type="submit" value="Създаване">
</form>