<h1>Регистрация</h1>

<form action="/regitserReq" method="post">
    <label for="username">Потребителско име</label>
    <input type="text" name="username">
    <label for="email">Имейл</label>
    <input type="text" name="email">
    <label for="profileImg">Профилна снимка</label>
    <input type="text" name="profileImg">
    <label for="password">Парола</label>
    <input type="password" name="password">
    <label for="rePass">Потвърдете паролата</label>
    <input type="password" name="rePass">
    <input type="submit" value="Регистрация">
</form>