<h1>Добави в плейлист</h1>

  <form action="/addToPlaylist" method="post">
        <label for="dropdown">Изберете опция:</label>
        <select id="dropdown" name="selected_option">
            <option value="option1">Опция 1</option>
            <option value="option2">Опция 2</option>
            <option value="option3">Опция 3</option>
            <option value="option4">Опция 4</option>
        </select>
        <br><br>
        <input type="submit" value="Изпрати">
    </form>