<h1>Вашите плейлисти</h1>

{{#each playlists}}
<form action="/searchMusic" method="post">
    <input type="hidden" value="{{this.title}}" name="title">
    <input type="submit" value="{{this.title}}">
</form>
{{else}}
<p>Нямате създаден плейлист</p>
{{/each}}